@model Customer

@{
    ViewData["Title"] = "Create Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">

    <h2>➕ Create Customer</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input asp-for="Name" class="form-control mb-2" placeholder="Name" />
        <input asp-for="Email" class="form-control mb-2" placeholder="Email" />
        <input asp-for="PhoneNumber" class="form-control mb-2" placeholder="Phone" />

        <select asp-for="CustomerType" class="form-control mb-2">
            <option>Customer</option>
        </select>

        <input asp-for="PasswordHash" type="password" class="form-control mb-2" placeholder="Password" />

        <button class="btn btn-success w-100">Save</button>
    }

</div>